body {
    background-color: #EFF6FF;

}
.container {
    font-family: 'Playfair Display';
    color: #2563EB;
    width: 90%;
    margin: auto;
}

nav {
    display: flex;
    justify-content: space-between;
}

ul{
    list-style-type: none;
    padding: 0;
}

.nav_links {
    list-style-type: none;
    display: flex;
}

.nav_links >li {
    margin: 0 8px;

}

#icon {
    font-size: 60%;
    border: 1px dashed #2563EB;
    /* padding: 0.1%; */

}

.navSection {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.headings {
    display: flex;
    justify-content: space-around;
}

.headings>* {
    margin-right: 10px;
    cursor: pointer;
}

.search {
    background-color: #DBEAFE;
    padding: 1%;
    height: max-content;
    border-radius: 2px;
}

input {
    border: none;
    background-color: #DBEAFE;
    color: #2563EB;


}

input:focus {
    outline: none;
}

input::placeholder {
    color: #2563EB;
}

.mainSection {
    display: flex;
    margin-top: 30px;

}

.sidebar {
    width: 200px;
}

.sidebar>ul>li {
    margin-bottom: 12px;
}
.gallerySection{
    width: 100%;
    background-color: #DBEAFE;
    position: relative;
    padding-top: 3%;


}
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}
#close{
    position: absolute;
    right: 1.5%;
    top:0.5%;
}

.article {
    
    flex: 0 0 30%;
    /* max-width: 30%; */
    min-width: 185px;
}

.articleImage {
    background-color: #BFDBFE;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 160px;
    align-items: center;
    border: 1px dashed #2563EB;
    cursor: pointer;


}

#hamburger {
    display: none;
}

a {
    text-decoration: none;
    color: #2563EB;

}

@media only screen and (max-width: 768px) {

    .container {

        width: 90%;
        margin: auto;

    }

    .nav_links {
        display: none;
    }

    #hamburger {
        display: block;
    }

    .navSection {
        display: block;
    }

    .search {
        padding-top: 2%;
        margin-top: 15px;
        height: 25px;
        border-radius: 5px;
    }
}

/* 
  @media only screen and (max-width: 375px) {
    
  } */